body {
    color: #aaa;
    background-color: #000;
}

#main {
    text-align: center;
}

g {
    stroke-dasharray: 2, 40;
    stroke-linecap: round;
    stroke: #fff;
    animation: dash 1s linear infinite;
}

@keyframes dash {
    from {
        stroke-dashoffset: 0;
    }
    to {
        stroke-dashoffset: 500;
    }
}
