body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #000;
}

#main {
    color: #aaa;
    text-align: center;
}

.spiral {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
}

.char {
    font-size: 2em;
    transform: translateY(0px) scale(1);
}
